@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Osmanya&family=Open+Sans&family=Roboto:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0em;
}

h2 {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

h4, h1 {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0.7em 0em 0.7em 0em;
    font-weight: 100;
}

h5 {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.7em 0em 0.7em 0em;
}

p, span {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0em;
    line-height: 1.7em;
}


a {
    color: black;
}

header {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    height: 5.5em;
    box-shadow: 0 3px 1px -2px #dfdfdf;
}

main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    top: 7em;
    background: #fff;
}

.logo {
    float: left;
}

.fName a {
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 1em;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.lName a {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
    top: 3.9em;
    left: 4.5em;
    text-decoration: none;
    color: black;
}

.menu {
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

    .menu a {
        display: block;
        float: left;
        text-align: center;
        padding: 3em 2em 0em 0em;
        font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        z-index: 1;
    }

        .menu a:hover {
            text-decoration: underline;
        }

        .menu a.active {
            text-decoration: underline;
            transition: 0.3s;
        }


    .menu .icon {
        display: none;
        padding-top: 3em;
    }

.social {
    align-items: center;
}

    .social img {
        max-width: 2.5em;
        padding-left: 0.35em;
    }

        .social img:hover, .projGitHub img:hover, .communication a:hover, .tagline a:hover {
            opacity: 0.7;
        }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}
#experience, #projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content img {
    width: 100%;
    border-radius: 290px;
}

.tagline #str {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 1em 1em 0.6em 0em;
    color: #000;
    text-align: center;
}

.tagline {
    margin: .7em;
    width: 50%;
    text-align: left;
}

    .tagline a, .demo {
        font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: black;
    }

section {
    padding: 0em 0em 2em 0em;
    width: 100%;
}

#projects, #experience {
    text-align: center;
}

.project p {
    width: 80%;
}


.projGitHub img {
    width: 5%;
    margin: 1em 0.5em 0em 0em;
}

#contact {
    background-color: #e9e9e9;
    align-items: center;
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
    display: flex;
    flex-direction: column;
}

.mail {
    background-image: url("images/email.png");
}





    #project .projGitHub {
        margin-top: 0.65em;
    }



#project img {
    width: 55%;
}


#highlights {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.highlights {
    text-align: center;
}

.awards-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .awards-list li {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

        .awards-list li:last-child {
            border-bottom: none;
        }

    .awards-list h4 {
        margin-top: 0;
        font-size: 22px;
    }

    .awards-list p {
        margin: 0;
        font-size: 16px;
    }
    
.technology {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .technology h2 {
        background: #d7d7d7;
        font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
        font-size: 0.9em;
        border-radius: 50px;
        padding: 0.6em;
        margin: 0.5em;
    }

.qr form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.qr label {
    margin-bottom: 10px;
}

.qr input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.qr button {
    padding: 10px 20px;
    background-color: #829c9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    margin-bottom: 5em;
}

    .qr button:hover {
        background-color: #596a6a;
    }

.qr canvas {
    margin: auto;
    max-width: 300px;
    height: 250px;
    display: block;
    padding-bottom: 1em;
}


#contact section {
    padding: 0em 0em 0em 0em;
}

#save-btn {
    display: none;
    margin: auto;
    margin-bottom: 3em;
}


.blog {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
#blog {
    text-align: center;
}
.grid-item {
    border: none;
    padding: 5px;
    margin: 10px;
}

    .grid-item img {
        width: 20em;
        height: 15em;
        object-fit: cover;
    }
.blog-album{
    text-align: center;
}
.blog-album .grid-item img {
    width: 20em;
    height: 26em;
    object-fit: cover;
}

.grid-item h3 {
    font-size: 1.2em;
    font-weight: bold;
}

    .grid-item p {
        font-size: 1em;
    }

.post h3 {
    align-items: center;
    text-align: center;
}

.post ul li {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0.7em 0em 0.7em 0em;
    line-height: 1.5em;
}

.post {
    max-width: 60%;
    margin: 0 auto;
}

    .post p {
        margin: 0em 0em 1em 0em;
    }

    .post h4 {
        text-align: center;
        margin-top: 3em;
    }

    .post .grid-item img {
        width: 70%;
    }

.blog a {
    text-decoration: none;
}

a .grid-item:hover {
    opacity: 0.8;
}

.blog .grid-item img {
    display: block;
    margin: 0 auto;
}




@media screen and (max-width: 660px) {
    .blog {
        display: block;
        float: none;
        display: block;
        text-align: center;
        background-color: #fff;
        padding: 2em 0em 2em 0em;
    }

    .blog-album .grid-item img {
        width: 100%;
        height: 14.8em;
        object-fit: cover;
    }
    .qr button {
        margin-bottom: 5em;
    }

    .qr canvas {
        max-width: 352px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .tagline {
        width: 90%;
    }

        .tagline #str, h3, h4, .bioColumn h1 {
            font-size: 1.5rem;
        }

    h5 {
        font-size: 1.2rem;
    }

    p, span, .tagline a {
        font-size: 1rem;
    }

    .social img {
        width: 2.5em;
        padding-right: 0.1em;
    }

    .menu a {
        display: none;
    }

        .menu a.icon {
            float: right;
            display: block;
            margin-right: 1em;
        }

    .logo {
        position: absolute;
        right: 50%;
    }

    .fName a {
        margin: 0;
        font-size: 1.9rem;
    }

    .lName a {
        font-size: 1rem;
        top: 3.8em;
        left: 2em;
    }


    .project img {
        width: 65%;
    }

    .project {
        width: 85%;
        margin: 1.5em 1em 1.5em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }

    .menu.responsive {
        position: relative;
    }
    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

        .menu.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

    .menu.responsive {
        float: none;
    }

        .menu.responsive a {
            float: none;
            display: block;
            text-align: center;
            background-color: #fff;
            padding: 2em 0em 2em 0em;
        }

    .post {
        max-width: 85%;
        margin: 0 auto;
    }
        .post img {
            max-width: 100%;
            width: 100%;
        }
    code {
        font-size: 0.8em;
    }
}



ul li {
    font-family: 'Noto Sans Osmanya', 'Open Sans', 'Roboto', sans-serif;
    line-height: 2;
    list-style-type: circle;
}
.highlights ul li {
    line-height: 1;
    list-style-type: none;
}

.tagline .social img {
    width: 2.5em;
    padding-right: 0.2em;
}
.tagline .social {
    text-align: center;
    margin: 0em 2em 1em 0em;
}

.largedetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}
#experience .largedetails img {
    float: right;
    width: 60%;
}
.rightdetails {
    width: 20%;
}