@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0em;
}

h2 {
    font-family: 'Nanum Gothic Coding', monospace, 'Roboto', sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 2rem;
    font-weight: 100;
}

h4, h1 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.5rem;
    margin: 0.7em 0em 0.7em 0em;
    font-weight: 100;
}

p, span {
    font-family: 'Nanum Gothic Coding', monospace, 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin: 0em;
    line-height: 1.7em;
}

.comment {
    color: gray;
}

a {
    color: black;
}

header {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    height: 6em;
    box-shadow: 0 3px 1px -2px #dfdfdf;
}

main {
    flex-grow: 1;
    width: 100%;
    position: relative;
    top: 7em;
    background: #fff;
}

.logo {
    float: left;
}

.fName a {
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 1em;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.lName a {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
    top: 3.9em;
    left: 4.5em;
    text-decoration: none;
    color: black;
}

.menu {
    overflow: hidden;
    float: right;
}

    .menu a {
        display: block;
        float: left;
        text-align: center;
        padding: 3em 2em 0em 0em;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        z-index: 1;
    }

        .menu a:hover {
            text-decoration: underline;
        }

        .menu a.active {
            text-decoration: underline;
            transition: 0.3s;
        }


    .menu .icon {
        display: none;
        padding-top: 3em;
    }

.social {
    align-items: center;
}

    .social img {
        max-width: 2.5em;
        padding-left: 0.35em;
    }

        .social img:hover, .projGitHub img:hover, .communication a:hover, .tagline a:hover{
            opacity: 0.7;
        }

.content {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.bioColumn {
    width: 20%;
    padding-right: 3em;
    text-align: center;
}

.content img {
    width: 100%;
    border-radius: 290px;
}

.tagline #str {
    font-family: 'Nanum Gothic Coding', monospace, 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 1em 1em 0.6em 0em;
    color: #000;
}

.tagline {
    margin: .7em;
    width: 50%;
    text-align: left;
}

    .tagline a, .demo {
        font-family: 'Nanum Gothic Coding', monospace, 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: black;
    }

section {
    padding: 3em 0em 5em 0em;
    width: 100%;
}


.row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0em 5em 0em 5em;
}

#publications {
    background-color: #e9e9e9;
}

#projects {
    text-align: center;
}

#coursework {
    background-color: #e9e9e9;
    text-align: center;
}

.projGitHub img {
    max-width: 3.5em;
    padding-left: 0.5em;
    margin-bottom: -0.35em;
}

#contact {
    background-color: #e9e9e9;
    align-items: center;
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
    display: flex;
    flex-direction: column;
}

.communication {
    width: 50%;
    margin: auto;
}


.mail {
    background-image: url("images/email.png");
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin-left: 3em;
}

.semester {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 30em;
}

    .semester ul li {
        font-family: 'Nanum Gothic Coding', monospace, 'Open Sans', sans-serif;
        font-size: 1rem;
        margin: 0em;
        line-height: 1.545em;
        list-style: circle;
    }

.sign {
    padding: 1em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    font-size: 1.75em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    margin-top: 1em;
    font-family: sans-serif;
    border-radius: 60px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 5em;
}

    input[type=submit]:hover {
        background-color: rgba(0, 0, 0, 0.567);
        transform: translateY(1px);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.09);
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-75 {
    width: 75%;
    margin-top: 1em;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.project {
    width: 25%;
    margin: 1.5em 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .project .projGitHub {
        margin-top: 0.65em;
    }

.project-info {
    width: 100%;
}

.more-button {
    margin-top: 1em;
    border-radius: 60px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 5em;
    text-decoration: none;
    font-family: sans-serif;
    border: 1px solid #ccc;
    resize: vertical;
}

    .more-button:hover {
        transform: translateY(1px);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 1px 1px 0 rgba(0,0,0,0.09);
    }

.project img {
    width: 70%;
}

#more {
    display: none;
}





@media screen and (max-width: 660px) {
    .qr button {
        margin-bottom: 5em;
    }
    .qr canvas {
        max-width: 352px;
    }
    .year {
        margin-left: 0em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }

    .bioColumn {
        width: 60%;
        padding: 0em;
    }

    .tagline {
        width: 90%;
    }

        .tagline #str, h3, h4, .bioColumn h1 {
            font-size: 1.5rem;
        }

        p, span, .tagline a {
            font-size: 1rem;
        }

    .social img {
        width: 2.5em;
        padding-right: 0.1em;
    }

    .menu a {
        display: none;
    }

        .menu a.icon {
            float: right;
            display: block;
            margin-right: 1em;
        }

    .logo {
        position: absolute;
        right: 50%;
    }

    .fName a {
        margin: 0;
        font-size: 1.9rem;
    }

    .lName a {
        font-size: 1rem;
        top: 3.8em;
        left: 2em;
    }

    .row {
        flex-direction: column;
        margin: 0em 3em 0em 3em;
    }

    .project img {
        width: 65%;
    }

    .project {
        width: 85%;
        margin: 1.5em 1em 1.5em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }

    .menu.responsive {
        position: relative;
    }

        .menu.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

    .menu.responsive {
        float: none;
    }

        .menu.responsive a {
            float: none;
            display: block;
            text-align: center;
            background-color: #fff;
            padding: 2em 0em 2em 0em;
        }

    input[type=submit] {
        width: 75%;
        font-family: sans-serif;
        font-size: 17px;
        width: 6em;
    }


    .more-button {
        position: static;
        text-align: center;
        margin-top: 1%;
        font-size: 18px;
        width: 6em;
    }

    .year {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .semester {
        margin: auto;
        width: 90%;
    }
    .col-75 {
        width: 235%;
    }

    p.comment {
        width: 90%;
        font-size: 1rem;
        margin: auto;
    }
}
.technology {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .technology h2 {
        background: #d7d7d7;
        font-family: 'Roboto Condensed';
        font-size: 0.9em;
        border-radius: 50px;
        padding: 0.6em;
        margin: 0.5em;
    }

.qr form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.qr label {
    margin-bottom: 10px;
}

.qr input {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.qr button {
    padding: 10px 20px;
    background-color: #829c9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    margin-bottom: 5em;
}

    .qr button:hover {
        background-color: #596a6a;
    }

.qr canvas {
    margin: auto;
    max-width: 300px;
    height: 250px;
    display: block;
    padding-bottom: 1em;
}


#contact section {
    padding: 0em 0em 0em 0em;
}

#save-btn {
    display: none;
    margin: auto;
    margin-bottom: 3em;
}

.demo a{
    font-weight: bold;
}